.number {
  width: 160px;
  background-color: #29e;
  color: #fff;
  font-size: 2.5em;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  touch-action: none;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.red {
  background-color: red;
}
.marker {
  text-align: center;
  width: 7em;
  z-index: 0;
}
.marker text {
  font-size: 2em;
  border: 1px solid purple;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  color: white;
  background-color: purple;
}
.marker arrow {
  background-color: purple;
  width: 6px;
  height: 53px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}